// mat-drawer-container {
//     height: calc(100% - 11vh);
// }
.mat-icon#toggle {
    margin: 0.1em;
}
.mat-icon#toggle:hover {
    margin: 0.1em;
    color: rgba(226, 247, 248, 0.5);
}
// mat-drawer-container {
//     height: 95vh;
// }
// .sidenav-content {
//     background-color: rgba(78, 78, 78, 0.466);
// }
// .drawer-container {
//     background-color: rgb(65, 65, 65);
// }
// .drawer-sidenav {
//     background-color: rgb(153, 0, 255);
// }